<?xml version="1.0" encoding="utf-8"?>
     <configuration>
     <system.webServer>
       <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Work\repos\flask_app\venv\Scripts\python.exe|C:\Work\repos\flask_app\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
       </handlers>
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="hello.app" />
       <add key="PYTHONPATH" value="c:\Work\repos\flask_app" />
     </appSettings>
     </configuration>